<h1>All Plots</h1>

<% @plots.each do |plot| %>
  <div id=<%= "#{plot.id}" %> >
    <h3>Plot Number: <%= plot.number %> </h3>
      <% plot.plants.each do |plant| %>
        <div id=<%= "#{plant.id}" %> >
          <p> <%= plant.name %> </p>
          <%= form_with url:"plots/#{plot.id}/plants/#{plant.id}", method: :delete, local: true do |f| %>
            <%= f.submit 'Delete Plant' %>
          <% end %>
        </div>
      <% end %>
  </div>
<% end %>
